{% extends "home.html" %}

{% block content %}
<div style="width: 100%; border: 1px solid; border-color: black; margin: 10px">
    <form method="get">
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit" style="margin: 10px">Search</button>
    </form>
</div>


{% for celeb in celebs %}
<div class="celeb" border:1px solid black; margin:10px; padding:10px;>
    <h2>{{ celeb.name }}</h2>
{% if celebs %}
        <img src="{{celeb.image.url}}" width="18%">
{% else %}
    <p>Знаменитостей пока нет.</p>
{% endif %}
    <p>{{ celeb.bio }}</p>
    <p>Дата рождения: {{ celeb.birth_date }}</p>
    <p>Создано: {{ celeb.created_at }}</p>
    <p>Обновлено: {{ celeb.updated_at }}</p>
    <a href="/celebrity/{{ celeb.id }}/">
        <button>Подробнее</button>
    </a>
</div>
{% endfor %}



{% endblock %}



